/* practice on how to import google fonts etc */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');
/* what's this star for? figure it out later! */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #2f363e;
}
/* refer to the div ids of the body */
#time
{
    display: flex;
    gap: 40px;
    color: #fff;
}
/* define the circles in the body with id time */
#time .circle
{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* for the svg in circle */
/* for positioning */
#time .circle svg
{
    position: relative;
    width: 150px;
    height: 150px;
}
/* for controlling the circle */
#time .circle svg circle
{
    width: 100%;
    height: 100%;
    fill: transparent;
}
#time div
{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}
#time .op
{
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}